<div class="bg">
    <app-nav-bar></app-nav-bar>
    <app-en-logo></app-en-logo>
    <div class="container">
        <img class="inspiration" src="assets/inspiration.png" />
    </div>
    <div class="links">
        <div class="empty"></div>
        <img class="en" src="assets/inspiration/en.png" />
        <img class="pentu" src="assets/inspiration/pentu.png" />
        <img class="olyan" src="assets/inspiration/olyan.png" />
        <img class="villagers" src="assets/inspiration/villagers.png" />
        <img class="environment" src="assets/inspiration/environment.png" />
    </div>
</div>
