<div class="bg">
    <app-nav-bar></app-nav-bar>
    <app-en-logo></app-en-logo>
    <div class="contact">
        <div class="olivier">
            <img class="ot" src="assets/contact-olivier-tossan.png" />
            <a href="mailto:olivier.tossan@gmx.net">
                <img class="email" src="assets/contact-email.png" />
            </a>
            <a href="tel:13106232888">
                <img class="phone" src="assets/contact-phone.png" />
            </a>
            <img class="LA" src="assets/contact-LA.png" />
        </div>
        <img class="calvin" src="assets/calvin-credits.png" />
    </div>
</div>
<img class="explosion" src="assets/explosion-animation.png" />
<div class="pod">
    <div>
        <img class="body" src="assets/pod.png" />
        <img class="streak" src="assets/pod-streak.png" />
    </div>
</div>
<audio
  src="assets/audio/star-trek.mp3"
  autoplay
  loop>
</audio>
