
<div class="cover">
  <img class="vd-scroll" src="assets/vd-intro/SCROLL.jpg" />
  <img class="vd-big-star" src="assets/vd-intro/SPACE-BIG-STAR.png" />
  <img class="vd-moon2" src="assets/vd-intro/SPACE-MOON2.png" />
  <img class="vd-moon" src="assets/vd-intro/SPACE-MOON.png" />
  <img class="vd-back-clouds" src="assets/vd-intro/SPACE-BACK-CLOUDS.png" />
  <img class="vd-earth" src="assets/vd-intro/SPACE-EARTH.png" />
  <img class="vd-small-star" id="s1" src="assets/vd-intro/SPACE-SMALL-STAR.png" />
  <img class="vd-small-star" id="s2" src="assets/vd-intro/SPACE-SMALL-STAR.png" />
  <img class="vd-small-star" id="s3" src="assets/vd-intro/SPACE-SMALL-STAR.png" />
  <img class="vd-space-bg" src="assets/vd-intro/SPACE-BACKGROUND.jpg" />
  <img class="vd-big-face" src="assets/vd-intro/EN-FACE-CLOSEUP.png" />
  <img class="vd-face-shadow" src="assets/vd-intro/EN-FACE-FINAL-SHADOW.png" />
  <img class="vd-full-face" src="assets/vd-intro/EN-FACE-FULL.png" />
  <img class="vd-glow-face" src="assets/vd-intro/EN-FACE-FINAL-GLOW.png" />

  <div class="vd-final-splash">
  </div>
</div>
<img class="vd-card" src="assets/vd-card.png" />

<img class="vd-title" src="assets/vd-intro/visual-development-title.png" />
<div class="vd-title">
    <img src="assets/pause-play.png">
</div>
<div class="bg">
  <app-nav-bar [pos]="'horizontal'"></app-nav-bar>
    <app-en-logo></app-en-logo>
    <app-visual-development-modal></app-visual-development-modal>
</div>
<audio
  src="assets/audio/vd2.mp3"
  autoplay
  loop>
</audio>
