.bg{
    width: 100%;
    height: 100%;
    background-color: black;
}
.vd-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    opacity: 0;
    z-index: 1;
    /* animation: fadein 3s ease-in-out 10s 1, fadeout 3s ease-in-out 13s 1;
    animation-fill-mode: forwards; */
}

.cover{
    position: fixed;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 1;
    animation-name: fadeout;
    animation-delay: 10s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation: fadeout 5s ease-in-out 47.5s 1; /*, fadein 5s ease-in-out 15s 1; */
    animation-fill-mode: forwards;
}
.vd-scroll {   
    position: fixed;
    transform: translateX(0%);
    height: 125%;
    top: -10%;
    opacity: 0;
    animation-name: fadein;

    animation-iteration-count: 1;
    animation: fadein 5s ease-in-out 6.85s 1, scroll 13s ease-in-out 7.5s 1, fadeout 3s ease-in-out 18.5s 1;
    animation-fill-mode: forwards;
}

.vd-space-bg {
    position: fixed;
    transform: translateX(0%);
    height: 100%;
    top: 0%;
    opacity: 0;
    animation-name: fadein;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation: fadein 3s ease-in-out 18.5s 1, scroll 13s ease-in-out 21.5s 1, fadeout 3s ease-in-out 34.5s 1;
    animation-fill-mode: forwards;
}

div.vd-title {
    position: fixed;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
@keyframes fadein{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeout{
    0%{opacity: 1}
    100%{opacity: 0}
}
@keyframes scroll{
    100% {transform: translateX(-32%);}
}
