<div class="cover">
  <img class="vd-scroll" src="assets/vd-intro/SCROLL.jpg" />
  <img class="vd-space-bg" src="assets/vd-intro/SPACE-BACKGROUND.jpg" />
</div>
<img class="vd-title" src="assets/vd-intro/visual-development-title.png" />
<div class="vd-title">
    <img src="assets/pause-play.png">
</div>
<div class="bg">
  <app-nav-bar [pos]="'horizontal'"></app-nav-bar>
    <app-en-logo></app-en-logo>
    <app-visual-development-modal></app-visual-development-modal>
</div>
<audio
  src="assets/audio/vd3.mp3"
  autoplay
  loop>
</audio>
