<div class="navbar-wrap" [ngClass]="{vert: pos != 'horizontal' && pos != 'split', hor: pos == 'horizontal', split: pos == 'split'}">
<div class="navbar">
    <a routerLink="/home" routerLinkActive="active">
        <img class="home" src="assets/navbar/home.png" />
    </a>
    <a routerLink="/story-treatment" routerLinkActive="active">
        <img class="st" src="assets/navbar/story-treatment.png" />
    </a>
    <a routerLink="/visual-development" routerLinkActive="active">
        <img class="vd" src="assets/navbar/visual-development.png" />
    </a>
    <a routerLink="/inspiration" routerLinkActive="active" class="inspiration">
        <img class="ins" src="assets/navbar/inspiration.png" />
    </a>
    <a routerLink="/contact" routerLinkActive="active" class="contact">
        <img class="con" src="assets/navbar/contact.png" />
    </a>
    <a routerLink="/presentation" routerLinkActive="active">
        <img class="pre" src="assets/navbar/presentation.png" />
    </a>
    <a routerLink="/biography" routerLinkActive="active">
        <img class="bio" src="assets/navbar/biography.png" />
    </a>
    <a routerLink="/biography" routerLinkActive="active">
        <img class="int" src="assets/navbar/interview.png" />
    </a>
</div>
</div>
