.vd{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90%;
    background-color: black;
    object-fit: contain;
    margin-top: 4%;
}
.vd>img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

img.tiny{
    width: 1px;
    height: 1px;
}
.paused{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    z-index: 1;
    pointer-events: none;
    animation: fadeout 3s linear 1 forwards;
}
@keyframes fadeout{
    0%{opacity: 1; display: block;}
    100%{opacity: 0; display: none;}
}
