<div class="vd">
    <img class="tiny" src="assets/visual-development/vd1.png" />
    <img class="tiny" src="assets/visual-development/vd2.png" />
    <img class="tiny" src="assets/visual-development/vd3.png" />
    <img class="tiny" src="assets/visual-development/vd4.png" />
    <img class="tiny" src="assets/visual-development/vd5.png" />
    <img class="tiny" src="assets/visual-development/vd6.png" />
    <img class="tiny" src="assets/visual-development/vd7.png" />
    <img class="tiny" src="assets/visual-development/vd8.png" />
    <img class="tiny" src="assets/visual-development/vd9.png" />
    <img class="tiny" src="assets/visual-development/vd10.png" />

    <img [@myAnimation] *ngIf="currStep == 0" src="assets/visual-development/vd1.png" />
    <img [@myAnimation] *ngIf="currStep == 1" src="assets/visual-development/vd2.png" />
    <img [@myAnimation] *ngIf="currStep == 2" src="assets/visual-development/vd3.png" />
    <img [@myAnimation] *ngIf="currStep == 3" src="assets/visual-development/vd4.png" />
    <img [@myAnimation] *ngIf="currStep == 4" src="assets/visual-development/vd5.png" />
    <img [@myAnimation] *ngIf="currStep == 5" src="assets/visual-development/vd6.png" />
    <img [@myAnimation] *ngIf="currStep == 6" src="assets/visual-development/vd7.png" />
    <img [@myAnimation] *ngIf="currStep == 7" src="assets/visual-development/vd8.png" />
    <img [@myAnimation] *ngIf="currStep == 8" src="assets/visual-development/vd9.png" />
    <img [@myAnimation] *ngIf="currStep == 9" src="assets/visual-development/vd10.png" />
</div>
