<div class="bg">
    <app-nav-bar></app-nav-bar>
    <app-en-logo></app-en-logo>
    <div class="bio">
        <img class="title" src="assets/biography/title.png" />
        <img class="bio" src="assets/biography/olivier.png" />
        <img class="bio" src="assets/biography/ryan.png" />
    </div>
</div>
<div class="moving-bg">
    <img class="branch1" src="assets/biography/branch1.png" />
    <img class="branch2" src="assets/biography/branch2.png" />
    <img class="branch3" src="assets/biography/branch3.png" />
    <img class="branch4" src="assets/biography/branch4.png" />
    <img class="branch5" src="assets/biography/branch5.png" />
    <img class="branch6" src="assets/biography/branch6.png" />
    <img class="butterfly1" src="assets/biography/butterfly1.png" />
    <img class="butterfly2" src="assets/biography/butterfly2.png" />
</div>
<audio
  src="assets/audio/biography.mp3"
  autoplay
  loop>
</audio>
