.bg{
    height: 100%;
    width: 100%;
    background-image: url("../../assets/background/biography.png");
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
div.bio{
    position: fixed;
    top: 50%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img.title{
    display: block;
    margin: 0 auto 35px auto;
    width: 360px;
}
img.bio{
    width: 600px;
    margin: 25px 0;
}
