.bg{
    width: 100%;
    height: 100%;
    background-image: url("../../assets/background/story-treatment.png");
    background-size: cover;
    background-position: center;
}
.here{
    position:absolute;
    width: 100%;
    bottom:10px;
}
a{
    display: block;
    margin: 0 auto;
    width: 150px;
}
a>img{
    display:block;
    margin: 0 auto;
    width: 150px;
}
a>img:hover{
    transform: scale(1.1);
}
