<div class="cover"></div>
<img class="fire fire1" src="assets/fire-animation/fire-strips.png" />
<img class="fire fire2" src="assets/fire-animation/fire-strips.png" />
<img class="fire fire3" src="assets/fire-animation/fire-strips.png" />
<img class="fire fire4" src="assets/fire-animation/fire-strips.png" />
<img class="fire fire5" src="assets/fire-animation/fire-strips2.png" />
<img class="fire fire6" src="assets/fire-animation/fire-strips3.png" />
<img class="explosions" src="assets/fire-animation/explosions.png" />
<img class="adventurous" src="assets/roads.png" />
<img class="en-logo" src="assets/title-en.png" />
<div class="bg">
    <div class="enter">
        <a routerLink="/presentation" routerLinkActive="active">
            <img src="assets/enter.png" />
        </a>
    </div>
</div>
<audio
  src="assets/audio/crickets.mp3"
  autoplay
  loop>
</audio>
